<!-- Modal Proyectos-->
<div class="modal fade" id="proyectosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Proyectos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--Formulario de edicion-->
      <form [formGroup]="formProyectos" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Foto</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="file" formControlName="foto" [class.border-danger]="FotoInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Foto?.errors && Foto?.touched">    
              <p *ngIf="Foto?.hasError('required')" class="error">*Foto requerida</p>
            </div> 
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Titulo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="titulo" [class.border-danger]="TituloInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Titulo?.errors && Titulo?.touched">    
              <p *ngIf="Titulo?.hasError('required')" class="error">*Titulo requerida</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Descripción</label>
            <div class="col-sm-9">
              <textarea class="form-control form-control-sm" id="formFileSn" type="text" formControlName="descripcion" [class.border-danger]="DescripcionInvalid"></textarea>
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Descripcion?.errors && Descripcion?.touched">    
              <p *ngIf="Descripcion?.hasError('required')" class="error">*Descripcion requerida</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-save">Guardar</button>
          <button type="submit" class="btn-delete">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>