<!-- Modal Cursos-->
<div class="modal fade" id="cursosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cursos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--Formulario de edicion-->
      <form [formGroup]="formCursos" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Titulo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="titulo" [class.border-danger]="TituloInvalid">
            </div>
             <!-- Getter que configuramos en el controlador -->
          <div *ngIf="Titulo?.errors && Titulo?.touched">    
            <p *ngIf="Titulo?.hasError('required')" class="error">*Título requerido</p>
          </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Periodo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="periodo" [class.border-danger]="PeriodoInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Periodo?.errors && Periodo?.touched">    
              <p *ngIf="Periodo?.hasError('required')" class="error">*Periodo requerido</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Institución</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="institucion" [class.border-danger]="InstitucionInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Institucion?.errors && Institucion?.touched">    
              <p *ngIf="Institucion?.hasError('required')" class="error">*Institución requerida</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-save">Guardar</button>
          <button type="submit" class="btn-delete">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>