<!-- Modal Redes Sociales-->
<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Redes Sociales</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--Formulario de edicion-->
      <form [formGroup]="formRedes" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Icono</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="file" formControlName="icono" [class.border-danger]="IconoInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Icono?.errors && Icono?.touched">    
              <p *ngIf="Icono?.hasError('required')" class="error">*Icono requerido</p>
            </div>  
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Link</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="link" [class.border-danger]="LinkInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Link?.errors  && Link?.touched">
              <p *ngIf="Link?.hasError('required')" class="error">*Link requerido</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-save">Guardar</button>
          <button type="submit" class="btn-delete">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>