/*Seccion Footer*/
.hr-footer{
    height: 10px;
    margin-left: 0%;
    width: 100%;
    background: linear-gradient(45deg,rgb(251, 255, 0),rgb(248, 115, 6),rgb(250, 36, 82));
    box-shadow: 0px 0px 5px 3px black;
    opacity: 20;
  }

  .fa-arrow-turn-up{
    color: rgb(255, 188, 4);
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    
  }