 <!--Modal Cerrar Sesion-->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body body-close">
          <div class="mb-3 row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button type="button" class="btn-cerrar" data-bs-dismiss="modal"><a routerLink="/principal">Cerrar</a></button>
            </div>
            <div class="col-sm-4"></div>   
          </div>   
        </div>
      </div>
    </div>
  </div>
