<!--Seccion Habilidades de Desarrollo-->
<section class="skills">
    <div class="container container-skills">
      <h2 class="nombre-seccion">Herramientas de Desarrollo</h2>
      <hr class="hr-seccion">
      <div class="row row-skills text-center">
        <div class="col-1"></div>
        <div class="col-3 skills" *ngFor="let habilidad of habilidades">
          <h5 class="text-white text-center">{{habilidad.herramienta}}</h5>
          <div class="progress-circle-container">
            <div class="progress-circle progress-70"><span>{{habilidad.porcentaje}}</span></div>
          </div>
        </div>
      </div>
      <div class="row row-idiomas text-center">
        <div class="col-1"></div>
        <div class="col-3 skills" *ngFor="let skill of skills">
          <h5 class="text-white text-center">{{skill.herramienta}}</h5>
          <div class="progress-circle-container">
            <div class="progress-circle progress-55"><span>{{skill.porcentaje}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
