 <!-- Modal Banner-->
 <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--Formulario de edicion-->
      <form [formGroup]="formBanner" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Imagen</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="file" formControlName="imagen" [class.border-danger]="ImagenInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Imagen?.errors && Imagen?.touched">    
              <p *ngIf="Imagen?.hasError('required')" class="error">*Imagen requerida</p>
            </div> 
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Nombre</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="nombre" [class.border-danger]="NombreInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Nombre?.errors && Nombre?.touched">    
              <p *ngIf="Nombre?.hasError('required')" class="error">*Nombre requerido</p>
            </div> 
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Titulo Personal</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text" formControlName="titulo" [class.border-danger]="TituloInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Titulo?.errors && Titulo?.touched">    
              <p *ngIf="Titulo?.hasError('required')" class="error">*Titulo Personal requerido</p>
            </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-save">Guardar</button>
          <button type="submit" class="btn-delete">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>