<!--Seccion Educación-->
<section class="educación">
    <div class="container">
      <h2 class="nombre-seccion">Educación</h2>
      <hr class="hr-seccion">
        <div class="row mt-4">
          <div class="col-sm-2">
            <h6 class="text-white text-center">Desarrollador Full Stack Jr.</h6>
          </div>
          <div class="col-sm-6">
           <h5>Febrero 2022 - Actualidad</h5>
           <h6>Argentina Programa</h6>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-2">
            <h6 class="text-white text-center">Licenciatura en Geologia</h6>
          </div>
          <div class="col-sm-6">
            <h5>2007 - 2018</h5>
            <h6>Facultad de Cs. Naturales y Museo - UNLP</h6>
            <h6>La Plata, Buenos Aires, Argentina</h6>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-2">
            <h6 class="text-white text-center">Bachiller en Ciencias Naturales</h6>
          </div>
          <div class="col-sm-6">
            <h5>2004 - 2006</h5>
            <h6>Colegio Padre Respuela</h6>
            <h6>Junín, Buenos Aires, Argentina</h6>
          </div>
          <div class="col-sm-4"></div>
        </div>
    </div>
  </section>
