<!--Seccion Educación-->
<section class="educación">
  <div class="container">
    <h2 class="nombre-seccion">Educación</h2>
    <hr class="hr-seccion">
      <div class="row mt-4" *ngFor="let estudio of estudios">
        <div class="col-sm-3 col-md-3 col-lg-2">
          <h6 class="text-white text-center">{{estudio.nombre}}</h6>
        </div>
        <div class="col-sm-6">
         <h5>{{estudio.inicio}} - {{estudio.fin}}</h5>
         <h6>{{estudio.institucion}}</h6>
         <h6>{{estudio.localidad}}</h6>
        </div>
        <div class="col-sm-4"></div>
      </div>
  </div>
</section>