<!--Seccion Idiomas-->
<section class="idiomas">
  <div class="container">
    <h2 class="nombre-seccion">Idiomas</h2>
    <hr class="hr-seccion">
    <div class="row row-idiomas mt-5">
       <div class="col-1"></div>
       <!--ngFor-->
       <div class="col-3 idioma" *ngFor="let idioma of idiomas">
         <h5 class="text-white text-center">{{idioma.nombre}}</h5>
         <div class="progress-circle-container mt-4">
          <div [ngClass]="idioma.progressbar"><span>{{idioma.porcentaje}}</span></div>  
         </div>
         <h6 class="text-center mt-4 text-white">{{idioma.nivel}}</h6>
       </div>
     </div>
  </div>
</section>
