<!--Seccion Proyectos-->
<section class="proyectos">
    <div class="container">
      <h2 class="nombre-seccion">Proyectos</h2>
      <hr class="hr-seccion">
      <div class="row mt-5 text-center">
        <div class="col" *ngFor="let proyecto of proyectos">
          <div class="card card-proyectos mt-4">
            <img [src]="proyecto.imagen" class="card-img-top" alt="..." height="150px">
          <div class="card-body">
            <h5 class="card-title">{{proyecto.nombre}}</h5>
            <p class="card-text">{{proyecto.descripcion}}</p>
            <a href="https://instagram.com/almadegauchos?igshid=YmMyMTA2M2Y=" target="_blank" class="btn btn-visita">Visita la página</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
