<!--<section class="page_404">
	<div class="container">
		<div class="row">	
			<div class="col-sm-12 ">
				<div class="col-sm-10 col-sm-offset-1  text-center">
					<div class="four_zero_four_bg">
						<h1 class="text-center ">404</h1>
					</div>
					<div class="contant_box_404">
						<h3 class="h2">¡Parece que estás perdido!</h3>
						<h6>La página que buscas no está disponible</h6>
						<a href="/" class="link_404">Ir a la Página Principal</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>-->

<div id='oopss'>
    <div id='error-text'>
		
          	<img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
          	<span>404</span>
          	<p class="p-a"><b>!Parece que estás perdido¡</b></p>
          	<p class="p-b"><b>La página que buscas no está disponible</b></p>
		  	<a href="/" class="btn btn-error">Página Principal</a>
		
    </div>
</div>
