<!-- Modal Skills-->
<div class="modal fade" id="skillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Skills</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Formulario de edicion-->
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Habilidad</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text">
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn-save">Guardar</button>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Porcentaje</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="text">
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn-save">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
