<!--Seccion Formulario de contacto-->
<section class="formulario mt-5">
    <form action="">
      <h2 class="titulo-formulario">Contacto</h2>
      <div class="form-group"><!--Capaz no es necesario-->
        <input type="text" name="nombre" placeholder="Nombre" class="imput-formulario">
        <input type="email" name="email" placeholder="Email" class="imput-formulario">
        <input type="text" name="Asunto" placeholder="Asunto" class="imput-formulario">
        <textarea name="mensaje" placeholder="Escriba aqui su mensaje" class="textarea-formulario"></textarea>
        <button type="submit" class="btn btn-enviar">Enviar</button>
      </div>
    </form>
  </section>
