<app-navbardashboard></app-navbardashboard>

  <!--Seccion Panel de Edición-->
  <section id="panel" class="panel mt-5 mb-5">
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col" *ngFor="let boton1 of botones1">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#redesModal">
              <h3>{{boton1.seccion}}</h3>
              <i [ngClass]="boton1.icono1"></i> <i [ngClass]="boton1.icono2"></i>
            </button>
          </div>
        </div>
      </div>
    </div> 
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col" *ngFor="let boton2 of botones2">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#eduModal">
              <h3>{{boton2.seccion}}</h3>
              <i [ngClass]="boton2.icono1"></i> <i [ngClass]="boton2.icono2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col" *ngFor="let boton3 of botones3">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#skillModal">
              <h3>{{boton3.seccion}}</h3>
              <i [ngClass]="boton3.icono1"></i> <i [ngClass]="boton3.icono2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-redesdashboard></app-redesdashboard>
  <app-bannerdashboard></app-bannerdashboard>
  <app-presentaciondashboard></app-presentaciondashboard>
  <app-educaciondashboard></app-educaciondashboard>
  <app-cursosdashboard></app-cursosdashboard>
  <app-idiomasdashboard></app-idiomasdashboard>
  <app-skillsdashboard></app-skillsdashboard>
  <app-experienciadashboard></app-experienciadashboard>
  <app-proyectosdashboard></app-proyectosdashboard>
  
  
