<app-navbardashboard></app-navbardashboard>

  <!--Seccion Panel de Edición-->
  <section id="panel" class="panel mt-5 mb-5">
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#redesModal">
              <h3>Redes Sociales </h3>
              <i class="fa-brands fa-square-twitter fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#bannerModal">
              <h3>Banner</h3>
              <i class="fa-regular fa-image fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#presentacionModal">
              <h3>Presentación</h3>
              <i class="fa-solid fa-user fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#eduModal">
              <h3>Educación</h3>
              <i class="fa-solid fa-graduation-cap fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#cursosModal">
              <h3>Cursos</h3>
              <i class="fa-solid fa-award fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#idiomasModal">
              <h3>Idiomas</h3>
              <i class="fa-solid fa-language fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-4 text-center">
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#skillModal">
              <h3>Skills</h3>
              <i class="fa-solid fa-dumbbell fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#laboralModal">
              <h3>Experiencia Laboral</h3>
              <i class="fa-solid fa-briefcase fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <button type="button" class="btn btn-lg p-5 btn-panel" data-bs-toggle="modal" data-bs-target="#proyectosModal">
              <h3>Proyectos</h3>
              <i class="fa-regular fa-folder-open fa-xl"></i> <i class="fa-solid fa-pencil"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-redesdashboard></app-redesdashboard>
  <app-bannerdashboard></app-bannerdashboard>
  <app-presentaciondashboard></app-presentaciondashboard>
  <app-educaciondashboard></app-educaciondashboard>
  <app-cursosdashboard></app-cursosdashboard>
  <app-idiomasdashboard></app-idiomasdashboard>
  <app-skillsdashboard></app-skillsdashboard>
  <app-experienciadashboard></app-experienciadashboard>
  <app-proyectosdashboard></app-proyectosdashboard>
  
  
