<!--Seccion Presentación-->
<section class="presentacion mt-5">
    <div class="container text-center">
      <div class="row">
        <!--Foto Perfil-->
        <div class="col-sm-3">
          <img src={{img_perfil}} class="rounded-circle w-25" alt="foto-perfil">
        </div>
        <!--Acerca de-->
        <div class="acerca-de-mi col-sm-6 text-black text-center mt-5">
          <h3>{{titulo_acerca}}</h3>
          <hr class="hr-acerca">
          <p><strong>{{acerca1}} 
          <br/>{{acerca2}} 
          <br/>{{acerca3}}</strong></p>
        </div> 
      </div>
    </div>
  </section>