<!--Seccion Presentación-->
<section class="presentacion mt-5">
    <div class="container text-center">
      <div class="row">
        <!--Foto Perfil-->
        <div class="col-sm-3">
          <img src="assets/img/perfil.jpg" class="rounded-circle w-25" alt="foto-perfil">
        </div>
        <!--Acerca de-->
        <div class="acerca-de-mi col-sm-6 text-black text-center mt-5">
          <h3>Acerca de mi</h3>
          <hr class="hr-acerca">
          <p><strong>Mi nombre es Valentina, tengo 33 años y vivo en la ciudad de 
          <br/>La Plata, Argentina. 
          <br/>Soy Desarrolladora Full Stack Jr desde el 2022.</strong></p>
        </div> 
      </div>
    </div>
  </section>