.btn-save{
      background-color: rgb(26, 78, 121);
      color: #fff;
      padding: 0.2rem 0.5rem;
      border-color: #fbfbfb;
      border-style: groove;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 1px black;    
  }
  
  .btn-save:hover{
    box-shadow: none;
  }
