 <!-- Modal Presentación-->
 <div class="modal fade" id="presentacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Presentación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--Formulario de edicion-->
      <form [formGroup]="formPresentacion" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Foto de perfil</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" id="formFileSn" type="file" formControlName="foto" [class.border-danger]="FotoInvalid">
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Foto?.errors && Foto?.touched">    
              <p *ngIf="Foto?.hasError('required')" class="error">*Foto requerida</p>
            </div>  
          </div>
          <div class="mb-3 row">
            <label for="formFileSn" class="form-label">Acerca de</label>
            <div class="col-sm-9">
              <textarea class="form-control form-control-sm" id="formFileSn" type="textarea" formControlName="acerca" [class.border-danger]="AcercaInvalid"></textarea>
            </div>
            <!-- Getter que configuramos en el controlador -->
            <div *ngIf="Acerca?.errors && Acerca?.touched">    
              <p *ngIf="Acerca?.hasError('required')" class="error">*Descripción requerida</p>
            </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-save">Guardar</button>
          <button type="submit" class="btn-delete">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>