<!--Seccion Cursos-->
<section class="cursos">
    <div class="container">
      <h2 class="nombre-seccion">Cursos</h2>
      <hr class="hr-seccion">
      <div class="row mt-4" *ngFor="let curso of cursos">
        <div class="col-sm-3 col-md-3 col-lg-2">
          <h6 class="text-white text-center">{{curso.nombre}}</h6>
        </div>
        <div class="col-sm-6">
          <h5>{{curso.inicio}} {{curso.fin}}</h5>
          <h6>{{curso.lugar}}</h6>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
  </section>